<div class="form">

  <%= form_for @shop do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "name"  %>
      <%= f.label :name %>
    </div>
    <div class="">
      <%= f.label :logo%>
      <%= f.file_field :logo  %>
    </div>
    <div class="field">
      <%= f.text_field :phone, placeholder: "phone"  %>
      <%= f.label :phone %>
    </div>
    <div class="field">
      <%= f.url_field :website, placeholder: "website"  %>
      <%= f.label :website %>
    </div>
    <div class="field">
      <%= f.url_field :twitter, placeholder: "twitter"   %>
      <%= f.label :twitter %>
    </div>
    <div class="field">
      <%= f.url_field :instagram, placeholder: "instagram" %>
      <%= f.label :instagram %>
    </div>
    <div class="field">
      <%= f.text_field :address, placeholder: "address" %>
      <%= f.label :address %>
    </div>
    <%= f.submit class:"button" %>
  <% end %>
</div>
