<%= link_to 'Edit', edit_shop_path %>
<h2><%= @shop.name %></h2>
<div id="map"></div>

<% @shop.products.each do |p| %>
  <p><%= p.name %></p>
  <p><%= p.description %></p>
<% end %>


<% if user_signed_in? && current_user.is_admin? %>
  <div class="new-product">
    <p>Add New Products</p>
    <%= render partial: 'products/form' %>
  </div>
<% end %>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_k6CbjckRGweXSChHuMKc1tO3SqMn_4o&callback=initMap" async defer></script>
