<%= link_to 'Edit', edit_shop_path %>
<h2><%= @shop.name %></h2>

<% @shop.products.each do |p| %>
  <p><%= p.name %></p>
  <p><%= p.description %></p>
<% end %>

<% if user_signed_in? && current_user.is_admin? %>
  <div class="new-product">
    <p>Add New Products</p>
    <%= render partial: 'products/form' %>
  </div>
<% end %>
