<div class="shops">
  <%# <%=image_tag "Apaq.jpg", class: "Apaq-image"%> %>
  <%=image_tag "A.jpg", class: "shop-image"%>
  <%=image_tag "biccle.jpg", class: "shop-image"%>
  <%=image_tag "drip.jpg", class: "shop-image"%>
  <%=image_tag "dose.jpg", class: "shop-image"%>
  <%=image_tag "2M.jpg", class: "shop-image"%>
  <%=image_tag "county.jpg", class: "shop-image"%>
  <%=image_tag "Camel.jpg", class: "shop-image"%>
  <%=image_tag "five_elephants.jpg", class: "shop-image"%>
  <%=image_tag "jCafe.jpg", class: "shop-image"%>
  <%=image_tag "jolt.jpg", class: "shop-image"%>
  <%=image_tag "12cafe.jpg", class: "shop-image"%>
  <%=image_tag "bun.jpg", class: "shop-image"%>
  <%=image_tag "byt.jpg", class: "shop-image"%>
</div>
