<div class="shops">
  <%=image_tag "A.jpg"%>
  <%=image_tag "biccle.jpg"%>
  <%=image_tag "drip.jpg"%>
  <%=image_tag "dose.jpg"%>
  <%=image_tag "2M.jpg"%>
  <%=image_tag "county.jpg"%>
  <%=image_tag "Camel.jpg"%>
  <%=image_tag "five_elephants.jpg"%>
  <%=image_tag "jCafe.jpg"%>
  <%=image_tag "jolt.jpg"%>
  <%=image_tag "12cafe.jpg"%>
  <%=image_tag "bun.jpg"%>
  <%=image_tag "byt.jpg"%>
</div>
