<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div>
  <%# <vido autoplay loop muted>
    <source src="caff.mp4" type="vido/mov">
  </vido> %>
  <%= video_tag "cafe1.mp4", autoplay: :autoplay, muted: :muted ,class: "video" %>
</div>
<div class="grid">
  <div class="shops">
    <% @shops.each do |shop| %>
      <%= cl_image_tag shop.logo, class: "shop-image" %>
    <% end %>
    <%# cl_image_tag @shop.logo %>
    <%=image_tag "12.png", id: "12-image" ,class: "shop-image"%>
    <%=image_tag "dose.png", id: "dose-image" ,class: "shop-image"%>
    <%=image_tag "drip.png", id: "drip-image" ,class: "shop-image"%>
    <%=image_tag "Apaq.png", id: "Apaq-image" ,class: "shop-image"%>
    <%=image_tag "Less.png", id: "Less-image" ,class: "shop-image"%>
    <%=image_tag "J cafe.png", id: "Jcafe-image" ,class: "shop-image"%>
    <%=image_tag "Cam.png", id: "Cam-image" ,class: "shop-image"%>
    <%=image_tag "bask.png", id: "bask-image" ,class: "shop-image"%>
    <%=image_tag "exeer.png", id: "exeer-image" ,class: "shop-image"%>
    <%=image_tag "Fifve.png", id: "Fifve-image" ,class: "shop-image"%>
    <%=image_tag "1m2.png", id: "1m2-image" ,class: "shop-image"%>
    <%=image_tag "beet.png", id: "beet-image" ,class: "shop-image"%>
    <%=image_tag "jolt.png", id: "jolt-image" ,class: "shop-image"%>
    <%=image_tag "cAF.png", id: "CAF-image" ,class: "shop-image"%>
    <%=image_tag "mekyal.png", id: "mekyal-image" ,class: "shop-image"%>
  </div>
</div>
<script>
  $('.shops').isotope({
  // options...
  itemSelector: '.shop-image',
  percentPosition: true,
  masonry: {
  
  }
  });
</script>
