<div class="shops">
  <%# <%=image_tag "Apaq.jpg", class: "Apaq-image"%> %>
  <%=image_tag "Apaq.png", class: "Apaq-image"%>
  <%=image_tag "cAF.png", class: "CAF-image"%>
  <%=image_tag "1m2.png", class: "1m2-image"%>
  <%=image_tag "12.png", class: "12-image"%>
  <%=image_tag "beet.png", class: "beet-image"%>
  <%=image_tag "dose.png", class: "dose-image"%>
  <%=image_tag "Cam.png", class: "Cam-image"%>
  <%=image_tag "drip.png", class: "drip-image"%>
  <%=image_tag "bask.png", class: "bask-image"%>
  <%=image_tag "exeer.png", class: "exeer-image"%>
  <%=image_tag "Fifve.png", class: "Fifve-image"%>
  <%=image_tag "J cafe.png", class: "Jcafe-image"%>
  <%=image_tag "jolt.png", class: "jolt-image"%>
  <%=image_tag "Less.png", class: "Less-image"%>
  <%=image_tag "mekyal.png", class: "mekyal-image"%>
</div>
